* {
    box-sizing: border-box;
}


.d-f {
    display: flex;
}
.fl-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}
.just-end {
    justify-content: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}