.root {
    height: 800px;
    width: 800px;
    border: 2px solid;
    background: yellow;
    margin: 0 auto;
    padding: 2px;
    display: flex;
}

.purp_mini {
    background: purple;
    width: 100px;
    height: 100px;
    border: 2px solid;
    margin: 10px;
}

.green {
    height: 300px;
    width: 300px;
    background: green;
    border: 2px solid;
    padding: 10px;
}

.blue {
    height: 50px;
    width: 50px;
    background: blue;
    border: 2px solid;

}

.red {
    height: 200px;
    width: 200px;
    background: red;
    border: 2px solid;
    margin: 20px;
}


/*________________________________________________________________*/
/*.d-f {*/
/*    display: flex;*/
/*}*/
/*.fl-column {*/
/*    flex-direction: column;*/
/*}*/

/*.justify-between {*/
/*    justify-content: space-between;*/
/*}*/
/*.just-end {*/
/*    justify-content: flex-end;*/
/*}*/

/*.align-self-center {*/
/*    align-self: center;*/
/*}*/

/*.align-items-end {*/
/*    align-items: flex-end;*/
/*}*/



