.root {
    height: 800px;
    width: 800px;
    border: 2px solid;
    background: #bb00bb;
    margin: 0 auto;
    padding: 5px;
}

.blue {
    background: #4f4fff;
    height: calc(100% / 3);
    width: calc(100% - 10px);
    border: 2px solid;
    margin: 5px;
    padding: 10px;

}

.green {
    background: lime;
    height: 100%;
    width: calc(100% / 4) ;
    border: 2px solid;
}

.red_center {
    background: red;
    height: 100%;
    width: calc(100% / 4);
    border: 2px solid;
}

.red_botoom {
    background: red;
    border: 2px solid;
    height: 100%;
    width: 100%;
    margin: 0 50px;
    padding: 10px;
}

.white {
    background: white;
    height: 100px;
    width: 100px;
    border: 2px solid;
}

.red_botoom .white:nth-child(even) {
    align-self: flex-end;

}
*/