.root {
    height: 800px;
    width: 800px;
    border: 2px solid;
    background: #ff0000;
    margin: 0 auto;
    padding: 4px;
}

.green {
    height: 100%;
    max-height: 600px;
    width: 100%;
    background: #00ff00;
    border: 2px solid;
    padding: 10px;
    overflow-y: auto;
    margin: 2px;

}

.purple {
    height: 100%;
    max-height: 200px;
    width: 99%;
    background: #ff00ff;
    border: 2px solid;
    margin: 5px;
}

.yellow {
    height: 100%;
    min-height: 120px;
    background: bisque;
    border: 2px solid;
    margin: 2px;
    overflow-y: auto;

}

.width-75 {
    width: 75%;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.green .yellow:nth-child(even) {
    align-self: flex-end;
}
